"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=20

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq
map р h
map о j
map л k
map д l
map и b
map ш i
map у e
map в d
map ц w
map н y
map з p
map щ o
map ф a

imap jk <Esc> 

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc
